@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass',sans-serif;
    color:hsl(0, 0%, 100%);
    height: 100vh;
}
main {
    background-color:hsl(213, 19%, 18%);
    max-width: 300px;
    height: 300px;
    border-radius:15px;
    margin:auto;
    margin-top:50px;
    padding:20px;
}
main h1 {
    font-size: 17px;
    margin:15px 0px;
}
main p {
    font-size: 15px;
    color: #959eac;
}
div#before{
    display:block;
}
div.bgstar{
    background-color:hsl(213, 19%, 28%) ;
    height:40px;
    width: 40px;
    border-radius: 50%;
}
div#before > div > img {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.rater {
    background-color:#3a4655;
    border: 0px;
    color:#959eac;
    height:40px;
    width: 40px;
    border-radius:50%;
    margin: 30px 8px;
    
}
div#after{
    display:none;
    text-align: center;
    
}
div#after > img {
    
    display:blocK;
    height:90px;
    margin:auto;
    margin-top: 30px;
}
div#after > div {
    margin: auto;
    margin-top:20px;
    background-color: hsl(215, 20%, 25%);
    color:#fb7413;
    width: 150px;
    border-radius: 15px;
    font-size: 0.8em;
    padding:5px 0px;
}
div#after > h2 {
    font-size: 1.3em;
    margin: 10px;
}
.submit{
    background-color:hsl(25, 97%, 53%) ;
    color:hsl(0, 0%, 100%);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    width:300px;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    
}
.submit:hover {
    background-color: #ffffff;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}
footer{
    background-color: hsl(213, 19%, 18%);
    height:20px;
    padding-top: 5px;
    margin-bottom: 0px;
    position:relative;
    top: 100%;

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }